@tailwind base;
@tailwind components;
@tailwind utilities;  

.blogPostRow {
  @apply bg-orange-200 p-2 rounded shadow text-red-600 transition duration-300 transform;
}
.blogPostRow:hover {
  @apply bg-orange-300 scale-110;
}



.markdown > * {
  all: revert;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #ef4444;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6B7280;
}

::-webkit-scrollbar-track {
  background-color: #F5F5F5;
  border-radius: 4px;
}